/* changes color text of navbar */
.navbar {
  color: rgb(77, 68, 75);
  background-color: rgb(53, 43, 63);
  letter-spacing: 1px;
}

/* overall change on padding and height for content for the php pages*/
.container {
  padding: 20px;
  min-height: 40vh;
  margin-bottom: 100px;
}

/* styles for main content container on index page, add linear gradiant to make content in front of the background image more visible */
.containerIndex {
  padding: 20px;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../IMAGES/background.png');
  background-size: cover;
  background-position: center;
  height: 87vh;
}

/* h1 heading padding and text align */
h1 {
  padding-top: 15px;
  text-align: center;
}

/* style for h1 heading on index page, add text shadow for better visibility */
.h1Index {
  color: rgb(250, 243, 233);
  text-shadow: 2px 2px 4px #000000;
}
/*add bolder font to label form*/
label {
  font-weight: bolder;
  color: rgb(17, 17, 17);
}
/* styles for button, overriding bootstrap default rules */
.btn {
  margin-top: 10px;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0);
  color: rgb(240, 238, 235);
  text-shadow: 1px 1px 2px #000000;
  font-weight: bolder;
  background-color: rgb(127, 96, 155);
}

/* styles for button and links when hovered */
.btn:hover,
a:hover {
  background-color: rgb(102, 33, 163);
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0);
  color: rgb(223, 222, 221);
}

/*sets footer background color and text color*/
footer{
  background-color: rgb(37, 37, 53);
  color: rgb(250, 241, 229);
}